video {
	width: 100%;
}

.md-typeset .footnote-ref {
    display: inline;
    pointer-events: initial;
}

.md-typeset p{
	text-indent: 50px;
}

div.admonition p.admonition-title{
	text-indent: 0px;
}

/* The admonition box styling */
.md-typeset .admonition, .md-typeset details{
	border: .1rem ridge;
	font-size: .75rem;
	overflow: hidden;
}

.admonition li{
	line-height: 1.2;
}

.md-typeset pre>code {
  background-color: black;
  color: white;
}

.md-typeset code{
	font-size: .75rem;		/* .7rem for Roboto */
	font-style: italic;
	color: Slateblue;				/* MidnightBlue - https://www.w3schools.com/cssref/css_colors.asp */
}

/* Centers images */
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span.ai{
	color: blue;
}

/*
h2, h3 {
	text-decoration: underline grey;
}
*/

/* Removes the Table of Contents from the display
.md-sidebar--secondary > .md-sidebar__scrollwrap {
  display: none;
}
*/

/*

.md-typeset pre>code {
		color: red;
}

.highlight .ge, .highlight .gh, .highlight .go, .highlight .gp, .highlight .gr, .highlight .gs, .highlight .gt, .highlight .gu {
	color: blue;
}

*/
